= form_for lesson, url: admin_lesson_path(lesson) do |f|
  %fieldset

    %dl
      %dd= f.label :name
      %dt= f.text_field :name

    %dl
      %dd= f.label :summary
      %dt= f.text_area :summary

  %fieldset.actions
    = f.submit

