%article#command
  %header
    %hgroup
      %h2= lesson.name
      %h1= command.name

    .hint
      %p For a hint, press the right arrow key
      .rightarrow

    .terminal
      %h1 Question 1

      .entry
        #keys_pressed

        .show_hint
          - command.keystroke_split.each do |key|
            %span.hidden_hint= key

        .details
          %p.mode= command.capital_start_mode
          %p.timer :00

    .success{ data: { attribute: { keystroke: command.keystroke,
                                   "next-command-url" => lesson_level_command_path(lesson, level, next_command),
                                   current_cycle: current_cycle }}}


      %p= "#{command.keystroke_joined} is correct! Press Enter or click Next to continue."
      = link_to "Next", "#", class: "sm_button next"

    .error
      %p Sorry, that&rsquo;s not the right answer. Try again or press the right arrow key for a hint.

    :css
      .terminal .entry .show_hint span.hidden_hint {
      display:none;
      }

    = javascript_include_tag "mousetrap"
    = javascript_include_tag "command"
    = javascript_include_tag "keys_pressed"
