%article

  - if next_level

    %h1 Congrats, you completed #{level.name}!

  - else

    %h1 You're done with the #{lesson.name} Lesson. Way to go!
    = lesson.done_message
    %br
    %br
    %br

  -# %dl.stats
  -#   %dt 78%
  -#   %dd Accuracy

  -# %dl.stats
  -#   %dt 10.0
  -#   %dd Average Time

  .border_box
    %h3 Recap
    %dl.left
      - left_half(commands).each do |command|
        %dt= command.keystroke_pretty
        %dd= command.name
    %dl.right
      - right_half(commands).each do |command|
        %dt= command.keystroke_pretty
        %dd= command.name

  - if next_level
    .border_box.dark
      %h3 Up Next
      %dl.left
        - left_half(next_level.commands).each do |command|
          %dt= command.keystroke_pretty
          %dd= command.name
      %dl.right
        - right_half(next_level.commands).each do |command|
          %dt= command.keystroke_pretty
          %dd= command.name

    = link_to "Start #{next_level.name}", lesson_level_path(lesson, next_level), class: "button"
  &nbsp;
  = link_to "Restart #{level.name}", restart_lesson_level_path(lesson, level), class: "gray_button"

