- content_for(:body_class) { 'homepage' }

.container

  %section#home

    %article
      %h1 Become a Vim Jedi
      %p Increase your speed and improve your muscle memory with Vim Genius, a timed flashcard-style game designed to make you faster in Vim. It’s free and you don&rsquo;t need to sign up. What are you waiting for?
      = link_to "Start Now", :start, class: "button"

    .terminal
      %h1 Question 1
      .entry
        %code
          :preserve
            Goal: Replace "beginner" with "jedi"
            Help, I don't remember commands.
            I need Vim Genius!
            Now if only I remembered how to close Vim so I could get to my browser...
        .details
          %p.mode Insert Mode
          %p.timer :00

%footer
  %section
    = link_to "See all of our tutorials and lessons for more Vim goodness!", lessons_path, class: "border-link"
    %p.credits
      Developed by
      = link_to "Vic Ramon", "http://www.vicramon.com", target: :_blank
      &amp; designed by
      = link_to "Rye Mason", "http://www.ryemason.com", target: :_blank
      at
      = link_to "Hashrocket", "http://www.hashrocket.com", target: :_blank
