%section
  = render 'shared/level_list'

  %article

    %h1 Before you start&hellip;

    #markdown
      %p
        :markdown
          #{lesson.directions}

    .border_box.dark
      %h3 Up Next
      %dl.left
        - left_half(first_level.commands).each do |command|
          %dt= command.keystroke_pretty
          %dd= command.name
      %dl.right
        - right_half(first_level.commands).each do |command|
          %dt= command.keystroke_pretty
          %dd= command.name

    = link_to "Start #{first_level.name}", lesson_level_path(lesson, first_level), class: "button small"
