- content_for :head do
  = javascript_include_tag "hint"
  = javascript_include_tag "timer"
  = javascript_include_tag "mousetrap"

%section
  = render 'shared/level_list'
  - if @show_congrats
    = render 'shared/congrats', command: command
  - else
    = render 'shared/command', command: command
