- content_for :head do
  = javascript_include_tag "mousetrap"
  = javascript_include_tag "hint"

%section
  = render 'lessons/level_list'

  %article

    %header

      %hgroup
        %h2= lesson.name
        %h1= commands.first.name

      .hint
        %p For a hint, press the right arrow key
        .rightarrow

    .terminal
      %h1 Question 1
      .entry
        %textarea(resizable="no" scrollbar="false")
        .show_hint
          - commands.first.keystrokes.each do |key|
            %span.hidden_hint= key
        .details
          %p.mode Insert Mode
          %p.timer :10

    .success
      %p d2w is correct! Press Enter or click Next to continue.
      = link_to "Next", "#", class: "sm_button next"

    .error
      %p Sorry, that&rsquo;s not the right answer. Try again or press the right arrow key for a hint.

:css
  .terminal .entry .show_hint span.hidden_hint {
    display:none;
    }
