- content_for :head do
  = javascript_include_tag "mousetrap"
  = javascript_include_tag "hint"
  = javascript_include_tag "timer"

%section
  = render 'lessons/level_list'

  %article

    %header

      %hgroup
        %h2= lesson.name
        %h1= commands.first.name

      .hint
        %p For a hint, press the right arrow key
        .rightarrow

    = render 'question', command: commands.first
