- content_for :head do
  = javascript_include_tag "vim"

%section
  = render 'shared/level_list'

  - if flash[:notice]
    %article
      .flash= flash[:notice]

  - if @show_congrats
    = render 'shared/congrats', command: command
  - else
    = render 'shared/command', command: command
