!!! 5
%html
  %head
    %title Vim Genius
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = content_for(:head)
    = csrf_meta_tags
    /[if IE]
      = javascript_include_tag "html5"
  %body{class: content_for(:body_class)}
    %header
      %section
        %h1
          = link_to :root do
            Vim
            %span> Genius
        = link_to "Tutorial Index", lessons_path, class: "headerlink"
        .session
          - if signed_in?
            %form
              %dt
                %label
                  Welcome #{current_user.email}.
                  = link_to "Sign out", logout_path
          - else
            = form_tag login_path do
              %fieldset
                %dl
                  %dt
                    = label_tag "email", "Sign up or login with your email address"
                  %dd
                    = email_field_tag "email"
              %fieldset.actions
                = submit_tag "Sign In"

    #content
      = yield
