!!! 5
%html
  %head
    %title Vim Genius
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = content_for(:head)
    = csrf_meta_tags
    /[if IE]
      = javascript_include_tag "html5"
  %body{class: content_for(:body_class)}
    %header
      %section
        %h1
          = link_to :root do
            Vim
            %span> Genius
        = link_to "Tutorial Index", lessons_path, class: "headerlink"
        .session
          %form
            %fieldset
              %dl
                %dt
                  %label Sign in with your email address
                %dd
                  %input(type="email")
            %fieldset.actions
              %input(type="submit" value="Sign In")

    #content
      = yield
